.hero
  height: 680px
  padding: 160px 0
  display: flex
  background-color: $black
  overflow: hidden
  &-container
    display: flex

.info
  width: 620px
  height: 360px
  margin-right: 35px
  &__text
    display: flex
    flex-direction: column
    height: 254px
    font-family: $russo-one
    font-size: 70px
    font-weight: 400
    line-height: 84px
    color: white
    margin-bottom: 36px
  &-buttons
    &__buy
      border-radius: 40px
      padding: 15px 54px
      font-family: $montserrat_instead_of
      font-size: 20px
      font-style: normal
      font-weight: 700
      line-height: normal
      color: $black
      border: none
      background: var(--button_cta, linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%))
      cursor: pointer
      margin-right: 32px

    &__author
      border-radius: 40px
      padding: 10px 54px
      font-family: $montserrat_instead_of
      font-size: 20px
      font-style: normal
      font-weight: 700
      line-height: normal
      color: white
      background: $black
      border: 5px solid var(--button_cta, #46F4DB)
      cursor: pointer

.stickers
  display: flex
  align-items: center
  &-imgs
.imgs
  &_img
    position: relative
.img
  &-1
    translate: 50px 250px
    z-index: 1
  &-2
    translate: 75px 50%
    rotate: 103deg
    z-index: 2
  &-3
    z-index: 3
  &-4
    translate: 325px -31px
    z-index: 4
  &-5
    z-index: 5
  &-6
    z-index: 6
  &-7
    translate: 0px 256px
    z-index: 7
  &-8
    z-index: 8
  &-9
    translate: 65px -100px
    z-index: 9
  &-10
    translate: 65px -400px
    z-index: 10